@import '../../assets/scss/variables.scss';

@mixin flex-content($gap){
    display: flex;
        justify-content: center;
        gap: $gap;
        flex-wrap: wrap;
        align-items: center;
}

@media (max-width: 450px){
  
}



.airdrop-upper-card {
    border-radius: 20px;
    padding: 1.5rem;
    // background: #26235381;
    box-shadow: $box-shadow-inner-light;
    height: 100%;
    width: 70vw;
    margin: auto;

    ul{
        list-style: none;
       @include flex-content($gap-large);
         margin-top: 2rem;
    }
      p {
          text-align: center;
          font-weight: 500;
          color: $white;
        }
       h3 {
        font-size: 1.5rem;
        font-weight: 800;
        color: $white;
        text-align: center;
       }
    
       .airdrop-img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
       }
       .airdrop-content{
        @include flex-content($gap-small);
      
        p{
          margin-top: 1rem;
        }
       }
}
.airdrop-upper-card:hover{
    cursor: pointer;
    // background: #37327981;
}

  